{% extends "base.html" %}

{% block content %}
<div>
    {% if current_user.is_authenticated %}
    КЛИЕНТЫ
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-success" href="/create_client">Создать клиента</a>
        <a class="btn btn-success" href="/all_clients">Все клиенты</a>
        <a class="btn btn-success" href="/correct_client">Изменить клиента</a>
        <a class="btn btn-success" href="/delete_client">Удалить клиента</a>
    </div>
    ЗАКАЗЫ
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-info" href="/create_order">Создать заказ</a>
        <a class="btn btn-info" href="/all_orders">Все заказы</a>
        <a class="btn btn-info" href="/correct_order">Изменить заказ</a>
        <a class="btn btn-info" href="/delete_order">Удалить заказ</a>
    </div>
    {% else %}
        <p class="font-weight-bold">Вы не авторизованы</p>
    {% endif %}
</div>
{% endblock %}
